@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fcfcfc;
  --text-color: black;
}

.dark {
  --background-color: #1d1d1d;
  --text-color: white;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}
